body {
  font-family: "Source Sans Pro", "Avenir Next", "Avenir", "Helvetica Neue", sans-serif;
  font-size: 2rem; }

div.container {
  display: inline-block; }

#desktop, #mobile {
  visibility: hidden;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  text-align: center; }

span.abutt {
  padding: 10px 18px;
  position: absolute;
  bottom: 20px;
  right: 20px;
  background-color: rgba(255, 66, 0, 0.9);
  color: white;
  text-transform: uppercase;
  letter-spacing: 3px;
  border: 1px solid #ff4200;
  border-radius: 24px;
  font-size: 1rem;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.5);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  transition: 0.25s; }
  span.abutt a {
    color: white; }

span.abutt:hover {
  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.5); }

span.abutt:active {
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5); }

div.about {
  visibility: hidden;
  height: 75vh;
  width: 100%;
  max-width: 500px;
  background: #f2f2f2;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: calc(100vw - 40px);
  border-radius: 8px;
  padding-bottom: 2px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5), inset 0 1px 0 white; }
  div.about div.burr {
    position: relative;
    top: 0;
    height: 36px;
    color: white;
    background: rgba(255, 66, 0, 0.9);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px; }
    div.about div.burr .icon-cross {
      position: absolute;
      cursor: pointer;
      right: 16px;
      color: rgba(255, 66, 0, 0.9);
      padding: 0;
      border-radius: 50%;
      background: white;
      top: 8px;
      margin: 0;
      font-size: 21px; }
  div.about div.texts {
    overflow: scroll;
    padding: 10px 20px;
    height: calc(100% - 56px); }
    div.about div.texts a {
      color: rgba(255, 66, 0, 0.9); }
    div.about div.texts li {
      margin-bottom: 10px; }
    div.about div.texts div.here h1 {
      font-size: 3rem;
      margin: 20px 0 10px 0;
      text-align: center;
      font-weight: 600; }
    div.about div.texts div.here p {
      text-align: center;
      margin: 0 0 36px 0;
      font-size: 1.25rem; }
  div.about h2 {
    font-size: 1.5rem;
    margin: 25px 0 0 0;
    font-weight: 600; }
  div.about p, div.about ul {
    font-size: 1rem;
    line-height: 1.5; }
