body {
  background-color: #EFEFEF;
  font-family: "Source Sans Pro", "Avenir Next", "Avenir", "Helvetica Neue", Helvetica, sans-serif;
}

strong {
  font-weight: 600;
}

object {
  display: block;
  margin: 0 auto;
  margin-top: 20vh;
}

div.word {
  margin: 0 auto;
}

div.words {
  width: 700px;
  margin: 7.5vh auto;
  font-size: 1.2em;
}

div.words > div {
  width: 300px;
  padding: 25px;
  line-height: 1.5;
  opacity: 0;
}

div.left {
  float: left;
}

div.right {
  float: right;
}

div.left a {
  color: #D51D1D;
}

div.right a {
  display: inline-block;
  border: 1px solid #D51D1D;
  border-radius: 5px;
  padding: 3px 8px;
  text-decoration: none;
  color: #D51D1D;
}

.hiatus {
  pointer-events: none;
  position: relative;
}

.hiatus:before {
  display: block;
  z-index: 0;
  position: absolute;
  content: "";
  width: 24px;
  border-radius: 5px;
  height: 82px;
  right: 30px;
  transform: rotate(-116deg);
  bottom: -24px;
  left: 24px;
  background-color: #D51D1D;
}

.hiatus:after {
  content: "ON HIATUS";
  display: block;
  z-index: 1;
  position: absolute;
  font-size: 9pt;
  transform: rotate(-27deg);
  top: 8px;
  color: white;
}
